body {
  margin: 0px;
}

header {
  background: #1d1d1b;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0px;
  min-height: 10vh;
  padding-right: 10px;
  padding-left: 20px;
  border-bottom: 1px solid #fff;
  /* internal border */
  /*  */
  box-sizing: border-box;
}

header h1 {
  margin: 0px;
  font-family: sans-serif;
  padding: 4px;
  font-size: 45px;
}

header h1::selection {
  background: white;
  color: #85c9e8;
  display: block;
}

header nav {
  width: auto;
  display: block;
  flex: 1;
  font-family: sans-serif;
  text-align: right;
}

header nav ul li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

header nav ul li a {
  background: #85c9e8;
  color: #fff;
  padding: 7px;
  text-decoration: none;
  transition: 300ms;
  font-size: 25px;
  border-radius: 10px;
}

header nav ul li a:hover {
  background: #fff;
  color: #85c9e8;
  padding: 7px;
  text-decoration: none;
}
