div.container {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 20% auto;
  min-height: 90vh;
}

section.content {
  display: grid;
  grid-template-rows: 70vh auto;
}

section.sidebar {
  background-color: #db240f;
  grid-area: sidebar;
}

.CodeMirror {
  border: 0px;
}

.CodeMirror-scroll {
  font-size: 22px;
}

.klipse-snippet {
  background: orange;
}

.klipse-result {
  background: blue;
}

.klipse-container,
.klipse-separator {
  display: none;
}

li.header {
  font-family: sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  list-style-type: none;
  margin: 10px;
  margin-left: -40px;
  padding: 15px;
  border-bottom: 1.3px solid;
  width: 105%;
}

li.page {
  font-family: sans-serif;
  color: white;
  padding: 10px;
  font-size: 19px;
  list-style-type: none;
  margin-left: -40px;
  padding: 15px;
}

li.selected {
  background-color: white;
  color: #db240f;
  font-weight: bold;
}

li.page:hover {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: inherit;
}
