div.container {
  display: grid;
  grid-template-areas: "sidebar klipse";
  grid-template-columns: 20% auto;
  min-height: 90vh;
}

section.klipse {
  display: grid;
  grid-template-rows: 70vh auto;
}

section.content h1 {
  font-family: sans-serif;
  font-size: 70px;
  padding-left: 40px;
  text-align: center;
}

section.content p {
  font-family: sans-serif;
  font-size: 30px;
  padding-left: 40px;
  text-align: center;
}

section.content img {
  padding-left: 40px;
  padding-top: 30px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

section.sidebar {
  background-color: #85c9e8;
  grid-area: sidebar;
}

.CodeMirror {
  border: 0px;
}

.CodeMirror-scroll {
  font-size: 22px;
}

.klipse-container,
.klipse-separator {
  display: none;
}

li.header {
  font-family: sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  list-style-type: none;
  margin: 10px;
  margin-left: -40px;
  padding: 15px;
  border-bottom: 1.3px solid;
  width: 105%;
}

li.page {
  font-family: sans-serif;
  color: white;
  padding: 10px;
  font-size: 19px;
  list-style-type: none;
  margin-left: -40px;
  padding: 15px;
}

li.selected {
  background-color: white;
  color: #85c9e8;
  font-weight: bold;
}

li.page:hover {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: inherit;
}
