div.container {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 20% auto;
  min-height: 90vh;
}

section.content {
  display: grid;
  grid-template-rows: 70vh auto;
}

section.sidebar {
  background-color: #db240f;
  grid-area: sidebar;
}

.CodeMirror {
  border: 0px;
}

.CodeMirror-scroll {
  font-size: 22px;
}

.klipse-snippet {
  background: orange;
}

.klipse-result {
  background: blue;
}

.klipse-container,
.klipse-separator {
  display: none;
}

li.header {
  font-family: sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 4px;
  border-bottom: 1.3px solid;
  padding-bottom: 15px;
  padding-left: 10px;
  list-style-type: none;
  text-decoration: none;
}

li.page {
  font-family: sans-serif;
  color: white;
  padding: 10px;
  font-size: 19px;
  list-style-type: none;
  text-decoration: none;
}

li.page.selected {
  background-color: white;
  color: #db240f;
  font-weight: bold;
}

li.page:hover {
  font-weight: bold;
}
