<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Victoria's Projects</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://storage.googleapis.com/app.klipse.tech/css/codemirror.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://codemirror.net/theme/icecoder.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://codemirror.net/theme/xq-light.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='sections.css') }}"
    />

    <script>
      window.klipse_settings = {
        selector: ".language-klipse", // css selector for the html elements you want to klipsify
        codemirror_options_in: {
          theme: "icecoder",
        },
        codemirror_options_out: {
          lineWrapping: true,
          lineNumbers: true,
          theme: "xq-light",
        },
      };
    </script>
  </head>
  <body>
    <header>
      <h1>Victoria's projects</h1>
      <nav>
        <ul class="nav-menu">
            <li>
              <a
                href="http://127.0.0.1:5000/"
                alt="home"
                >home</a
              >
            </li>
          <li>
            <a
              href="https://victoriaslocum.com"
              alt="about victoria"
              target="_self"
              >about victoria</a
            >
          </li>
          <li>
            <a
              href="https://notion.victoriaslocum.com/9c4392077dfd4fe488be08d34e9b9066?v=4146da24144a48af81d7cf42f9b3e505"
              target="_blank"
              alt="other projects"
              >other projects</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <section class="sidebar">
        <ul id="sidebar-nav">
          {% for value in files %}
          <li class="header">
            <a>{{ value["dirName"] }}</a>
          </li>
          {% for item in value.files %}
          {% set link = 'http://127.0.0.1:5000/' + value.dirName + '/' + item %}
          <li  {% if item == fileName %} class="page selected" {% else %} class="page" {% endif %}>
            <a href= "{{ link }}"
              >{{ item }}</a
            >
          </li>
          {% endfor %} {% endfor %}
        </ul>
      </section>
      <section class="content">
        <h1>Hello!</h1>
        <P>This is a little collection of some of my code. Hope you enjoy!</P>
        <img src="https://i.gifer.com/origin/65/651d5042e49e2eea63ea94c09e119716_w200.gif" alt="Happy GIF">
      </section>
    </div>
    <script src="https://storage.googleapis.com/app.klipse.tech/plugin/js/klipse_plugin.js"></script>
  </body>
</html>
